.box {
  width: 300px;
  height: 350px;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  background-color:whitesmoke;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  background-image: radial-gradient(circle, black, crimson, royalblue, crimson, royalblue);
  box-sizing: border-box;
}

.box1 {
  width: 100%;
  height: 70%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box2 {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.checked {
    color: orange;
}

.link {
    text-decoration: none;
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background: linear-gradient(180deg, antiquewhite, lightyellow);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

html {
    min-height: 100%;
}