.box {
  width: 300px;
  height: 100%;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  background-color:whitesmoke;
  border-radius: 5px;
  display: inline-block;
  background-image: radial-gradient(circle, black, crimson, royalblue, crimson, royalblue);
}

.box1 {
  width: auto;
  height: 300px;
  border: 2px solid black;
  margin: 5px;
  background-color:whitesmoke;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box2 {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    text-align: center;
    display: block;
}

.checked {
    color: orange;
}

#blue-star {
    color: rgb(41, 93, 248);
}

.link {
    text-decoration: none;
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-image: linear-gradient(180deg, antiquewhite, lightyellow);
}